<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
        <a href='/Quotes/logout'>Logout</a> | <a href= '/Quotes/dashboard'>Home</a>
        <h1>Posts by {{ request.session.name }}</h1>
        <h3>Count --- AMOUNT OF QUOTES</h3>
        <ul>
            {% for quote in my_quotes %}
            <li>{{ quote.author }}: {{ quote.description }}</li>
            <li>Posted by <href = '/Quotes/add_to_list/{{user.id}}'> {{ quote.creator.name }}</href> | <input type="submit" value="Add to my list"></li>
            {% endfor %}
        </ul>
    </body>
</html>